html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.topmenu {
    background: #a4c2dc;
}

.topmenu__body {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-between;
}

.topmenu__body .topmenu__left,
.topmenu__body .topmenu__right {
    display: flex;
    flex-direction: row;
}

.topmenu__left a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.topmenu__left a:hover {
    color: #111;
}

.topmenu__left__red {
    background: #fc8d41;
    padding: 5px !important;
    color: #fff !important;
}

.topmenu__right a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 5px 0;
}

.topmenu__right a:hover {
    color: #2a2a2a;
}

.fastmenu {
    padding: 5px 0;    
    left: 0;
    top: 0;
    width: 100%;
    background: #2a2a2a;
    color: #fc9f5b;
    /*box-shadow: 0 0 4px rgba(0,0,0,0.2);*/
}

.fastmenu__body {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    
}

.fastmenu__work_today {
    border-bottom: 1px dotted;
    display: block;
    position: relative;
    cursor: pointer;
}

.fastmenu__work_today ~ div > ul {
    display: none;
    position: absolute;
    background: #333;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    bottom: -45px;
    color: #a4c2dc;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition: 0.4s;
    text-align: right;
}

.fastmenu__work_today:hover ~ div > ul {
    display: block;
    transition: 0.4s;
}

menu {
    margin-top: 108px; 
    margin-bottom: 0;
    background:  #2a2a2a;
    padding: 0px;
    z-index: 2;
    font-size: 16px;
    position: absolute;
    width: 100%;
}

menu .mainmenu__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 40px;
    position: relative;
    width: 80%;
}

menu .mainmenu__ul ul {
    /*display: none;*/
    display:inherit;
    position: absolute;
    list-style: none;
    background: #555;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

menu .mainmenu__ul ul li:hover {
    background: #a4c2dc;
    color: #333;
}

menu .mainmenu__ul li:hover > ul {
    display:inherit;
    transition: 0.3s;
    top: 100%;    
    transform: scaleY(1);
}

menu .mainmenu__ul ul li {
    min-width:170px;
    width: 100%;
    float:none;
    display:list-item;
    position: relative;
}

menu .mainmenu__ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
    transition: 0.2s;
    text-transform: uppercase;
    transition: 0.5s;
}

menu .mainmenu__ul li:hover a{
    /*background: #a4c2dc;
    color: #333;*/
    transition: 0.2s;
}

menu .mainmenu__ul:hover .mainmenu__li .mainmenu__a {
    transform: scale(1.2);
    transition: 0.5s;
    opacity: 0.2;
    filter: blur(1px);
}

menu .mainmenu__ul .mainmenu__li .mainmenu__a:hover {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0);
}

.headsection {
    height: 100vh;
    min-height: 300px;
    background: url("/imgs/parquet_background_01.jpg");
    background-size: cover;
}